//! **************************************************************************
// Written by: Map K.31 on Fri Apr 10 22:40:00 2009
//! **************************************************************************

SCHEMATIC START;
COMP "out1" LOCATE = SITE "J14" LEVEL 1;
COMP "out2" LOCATE = SITE "J15" LEVEL 1;
COMP "SysCLK" LOCATE = SITE "B8" LEVEL 1;
NET "SysCLK_BUFGP/IBUFG" BEL "SysCLK_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

