//! **************************************************************************
// Written by: Map K.31 on Fri Apr 10 02:35:48 2009
//! **************************************************************************

SCHEMATIC START;
COMP "Q1" LOCATE = SITE "J14" LEVEL 1;
COMP "Q2" LOCATE = SITE "J15" LEVEL 1;
COMP "Q3" LOCATE = SITE "K15" LEVEL 1;
COMP "Q4" LOCATE = SITE "K14" LEVEL 1;
COMP "D1" LOCATE = SITE "G18" LEVEL 1;
COMP "D2" LOCATE = SITE "H18" LEVEL 1;
COMP "D3" LOCATE = SITE "K18" LEVEL 1;
COMP "D4" LOCATE = SITE "K17" LEVEL 1;
COMP "CLK" LOCATE = SITE "B18" LEVEL 1;
SCHEMATIC END;

